<p>Hello,</p>

<p>This site isn't really up and running. The user interface is still being
designed and I couldn't tell you when it'll be ready. In the meantime, you can
<%= link_to "create a user account", :controller => :user, :action => :create
%> or just <%= link_to "login", :controller => :user, :action => :login %>.</p>

<p>For a sample game in progress, please see this one:<br /><%= link_to "Sample Game", :controller => :game, :action => :index, :id => 'a46da1e8-f80d-4b2d-a288-32420dbdae1d' %></p>
